[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "microbiomeDASim"]
	path = microbiomeDASim
	url = https://github.com/williazo/microbiomedasim
[submodule "mvGPS"]
	path = mvGPS
	url = https://github.com/williazo/mvgps
